asgiref==3.11.1
distlib==0.4.0
Django==6.0.3
django-cors-headers==4.9.0
django-crispy-forms==2.6
django-phonenumber-field==8.4.0
djangorestframework==3.16.1
filelock==3.20.0
phonenumbers==9.0.25
pillow==12.1.1
platformdirs==4.5.1
sqlparse==0.5.5
tzdata==2025.3
virtualenv==20.35.4
