<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="#"><i class="fas fa-school"></i> MES SCHOOL | Admin</a>
        <div class="d-flex ms-auto">
            <a class="btn btn-outline-warning me-2" href="{% url 'admin_dashboard' %}"><i class="fas fa-home"></i> Dashboard</a>
            <a class="btn btn-outline-danger" href="{% url 'admin_logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </div>
    </div>
</nav>
